<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopShot Sports Academy</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/logo/logo128.png">
    <style>
      .dangerous{
        font-size: 70px;
        text-align: center;
        margin-top: 50px;
        font-weight: bolder;
      }
      #header-navbar{
        background-color: #EEEEEE;
      }


    </style>
    
</head>
<body>

    <header class="text-gray-600 body-font" id="header-navbar">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img src="/static/logo/logo128.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" class="w-15 h-10 text-white p-2 rounded-full" viewBox="0 0 24 24">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg> -->
          <span class="ml-3 text-xl">TopShot Sports Academy</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-gray-900" href="/">Home</a>
          <a class="mr-5 hover:text-gray-900" href="/services">Services</a>
          <a class="mr-5 hover:text-gray-900" href="/about">About Us</a>
          <a class="mr-5 hover:text-gray-900" href="/contact">Contact</a>
        </nav>
      </div>
    </header>

    <h1 class="dangerous">TopShot Sports Academy</h1>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
          <img alt="feature" class="object-cover object-center" src="/static/logo/map_with_pointer_about_us_shape_fixed.png">
          <h1 style="color: black; font-size: larger; font-weight: bold;text-align: center; margin-right: 100px;">Birthplace:</h1>
          <h3 style="text-align: center;color: #6B6B6B;">Greater Noida, Uttar Pradesh</h3>
        </div>
        <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
          <div class="flex flex-col mb-10 lg:items-start items-center" style="margin-left: 20px;">
            <div style="font-size: 25px;">
            <h1 style="color: #6B6B6B;">Welcome to TopShot Sports Academy!</h1>
            <p style="color: #6B6B6B;">At TopShot, our mission is to provide a high-quality sports training experience for young athletes. We believe in the power of sports to build character, promote physical health, and instill a love of competition. Our academy is designed to help athletes of all skill levels develop their abilities and reach their full potential.
              Our experienced coaches and trainers work with each athlete to create a personalized training program that addresses their individual needs and goals. We use cutting-edge training methods and equipment to help our athletes improve their speed, agility, strength, and technique. We also provide opportunities for athletes to compete in local, regional, and national events, where they can showcase their skills and measure their progress against their peers.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<hr>

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base" style="color: #6B6B6B;">Dedication and Determination</p>
        </div>
        <div class="flex flex-wrap -m-2">
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/80x80"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Vikas Singh</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">CEO</p>
              </div>
            </div>
          </div>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/84x84"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Vishwajeet Panda</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">COO</p>
              </div>
            </div>
          </div>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/88x88"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Rohit Singh</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">CFO</p>
              </div>
            </div>
          </div>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/90x90"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Shubham Dimaniya</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">CTO</p>
              </div>
            </div>
          </div>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/94x94"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Ayush Rathore</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">Marketing Head</p>
              </div>
            </div>
          </div>
          <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
            <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
              <!-- <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="https://dummyimage.com/98x98"> -->
              <div class="flex-grow">
                <h2 class="text-gray-900 title-font font-medium">Abhijeet Chauhan</h2>
                <p class="text-gray-500" style="color: #6B6B6B;">Legal Partner</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-gray-600 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          <img src="/static/logo/logo128.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" class="w-15 h-10 text-white p-2 rounded-full" viewBox="0 0 24 24">
          <span class="ml-3 text-xl">TopShot Sports Academy</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 TopShot Sports Academy —
          <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">#sportsforall</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500" href="https://www.facebook.com/people/TopShot-Sports-Academy/100090595680244/">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <!-- <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a> -->
          <a class="ml-3 text-gray-500" href="https://instagram.com/topshot.sports?igshid=ZDdkNTZiNTM=">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <!-- <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a> -->
        </span>
      </div>
    </footer>


</body>
</html>