<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopShot Sports Academy</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
      #header-navbar{
        background-color: #EEEEEE;
      }

      #basketball_img{
        object-fit: cover;
      }

      .image-height-width{
        height: 256px;
        width: 256px;
        object-fit: cover;
      }

      .sport-name{
        color: black;
        margin: auto;
        font-size: 30px;
        text-align: center;
      }

      .swimming{
        position: relative;
        left: 100px;
        bottom: 150;
      }

      .self-defence{
        position: relative;
        left: 200px;
        bottom: 1px;
      }

      .tennis{
        position: relative;
        bottom: 1px;
        left: 300px;
      }

      .sports{
        position: relative;
        display: inline-block;
        right: 50px;
      }

    </style>
  </head>
<body>

    <header class="text-gray-600 body-font" id="header-navbar">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
            <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
          </svg>
          <span class="ml-3 text-xl">TopShot Sports Academy</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-gray-900" href="/">Home</a>
          <a class="mr-5 hover:text-gray-900" href="/services">Services</a>
          <a class="mr-5 hover:text-gray-900" href="/about">About Us</a>
          <a class="mr-5 hover:text-gray-900" href="/contact">Contact</a>
        </nav>
      </div>
    </header>

    
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1" style="font-size: 45px; color: black;">Services that we offer</h2>
        </div>
        <div class="sports">
          <div style="display: inline-block;">
            <img class="image-height-width" src="/static/basketball_service_page.png" alt="">
            <h2 class="sport-name">Basketball</h2>
          </div>

          <div class="swimming" style="display:inline-block;">
            <img src="/static/swimming_sevice_page.png" alt="" class="image-height-width">
            <h2 class="sport-name">Swimming</h2>
          </div>

          <div class="self-defence" style="display:inline-block;">
            <img src="/static/self_defence_service_page.png" alt="" class="image-height-width">
            <h2 class="sport-name">Self-Defence</h2>
          </div>

          <div class="tennis" style="display:inline-block;">
            <img src="/static/tennis_service_page.png" alt="" class="image-height-width">
            <h2 class="sport-name">Tennis</h2>
          </div>
      </div>
      </div>
    </section>

    <section class="text-gray-600 body-font">
      <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full"  style="position: relative; bottom: 80px;">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Residential Societies</h1>
        </div>
        <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" style="position: relative; left: 350px;" alt="hero" src="/static/society_service_page.png">
        <div class="text-center lg:w-2/3 w-full" style="position: relative; right: 250px; width: 600px;">
          <p class="mb-8 leading-relaxed" style="color: #6B6B6B; font-size: 23px; position: relative; bottom: 300px;">Some kids aspire to make their careers in sports. Apart from the coaching that kids receive from their schools they require more practice which can be done at hours available away from school.
            As most societies are equipped with sports infrastructure,  we can coach kids at your own residential society with the necessary support of required sports equipment.</p>
          </div>
      </div>

      <div style="width: 1000px; height: 100px; background-color: #819FFF; position: relative; left: 250px; bottom: 200px;">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="font-size: 60px; text-align: center;">- Coming Soon in your Schools -</h1>
      </div>

    </section>



    <footer class="text-gray-600 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
          
          <span class="ml-3 text-xl">TopShot Sports Academy</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 TopShot Sports Academy —
          <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">#sportsforall</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <a class="text-gray-500" href="https://www.facebook.com/people/TopShot-Sports-Academy/100090595680244/">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <!-- <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a> -->
          <a class="ml-3 text-gray-500" href="https://www.instagram.com/topshotsportsacademy/">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <!-- <a class="ml-3 text-gray-500">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a> -->
        </span>
      </div>
    </footer>

</body>
</html>